@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}
h1{
	margin: 15px 10px;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	font-style: normal;
}
html, body {
	justify-content: center;
	font-family: "Gotham",Helvetica,Arial,sans-serif;
	user-select: none;
	color: #5D5D69;
	background-color: #f0f0f0;
}
#logo{
	position: absolute;
	margin: -20px -10px;
	height: 100px;
	width: 100px;
}