#robo{
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 2px pink;
	/*background-image: linear-gradient(180deg,pink 30%,purple 80%);*/
	
	transition: all 0.1s linear;
}
#robo:hover{
	transform: scale(1.03);
}
img{
	height: 240px;
	width: 200px;
}